/* src/styles.css */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
  }
  
  input {
    margin: 5px 0;
    padding: 10px;
  }
  
  button {
    padding: 10px;
    margin: 5px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    border: 1px solid #dc2121;
    padding: 10px;
  }
  